In [1]:
# Display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)

In [3]:
from bs4 import BeautifulSoup as bs
import requests

page=requests.get('https://en.wikipedia.org/wiki/Main_Page', verify = False)

soup=bs(page.text, 'lxml')
titles = soup.find_all(['h1', 'h2','h3'])
for tags in titles:
    print(tags.name + ' -> ' + tags.text.strip())

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

h1 -> Main Page
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Variants
h3 -> Views
h3 -> More
h3 -> Search
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

In [4]:
# Display IMDB’s Top rated 100 movies

In [5]:
page=requests.get("https://www.imdb.com/list/ls091520106/" , verify = False)
soup=bs(page.content)
mname=soup.find_all('h3',class_='lister-item-header')

mname=soup.find_all('h3',class_='lister-item-header')
mname
movie_name=[]
mv_name=[]
act_mv_name=[]
movie_rating=[]
movie_year=[]

for i in mname:
    movie_name.append(i.text.replace('\n','').replace('(',' ').replace(')','').replace('.',' '))
    

for s in movie_name:
    mv_name.append(s.split(None, 1)[1])    

    
for s in mv_name:
    act_mv_name.append(s[:-5]) 
    
mrating=soup.find_all('div',class_='ipl-rating-star small')
mrating

for i in mrating:
    movie_rating.append(i.text.replace('\n',''))
    
myear=soup.find_all('span',class_='lister-item-year text-muted unbold')
myear

for i in myear:
    movie_year.append(i.text.replace('\n','').replace('(','').replace(')',''))
    
import pandas as pd
df=pd.DataFrame({'Movie':act_mv_name,'Rating':movie_rating,'Year':movie_year})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.imdb.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

                                  Movie Rating  Year
0              The Shawshank Redemption    9.3  1994
1                         The Godfather    9.2  1972
2                The Godfather: Part II      9  1974
3                       The Dark Knight      9  2008
4                          12 Angry Men      9  1957
..                                  ...    ...   ...
95                   North by Northwest    8.3  1959
96                   A Clockwork Orange    8.3  1971
97                               Snatch    8.3  2000
98  Le fabuleux destin d'Amélie Poulain    8.3  2001
99                              The Kid    8.3  1921

[100 rows x 3 columns]

In [6]:
# Display book name, author name, genre and book review of any 5 books

In [7]:
page=requests.get("https://bookpage.com/reviews", verify = False)
soup=bs(page.content)
book_name=soup.find_all('h4',class_="italic")

book_names=[]
book_author=[]
book_reviews=[]
book_genre=[]

for i in book_name:
    book_names.append((i.text).replace('\n',''))

author=soup.find_all('p',class_="sans bold")


for i in author:
    book_author.append((i.text).replace('\n',''))
    
review=soup.find_all('p',class_="excerpt")

for i in review:
    book_reviews.append((i.text).replace('\n',''))
    
genre=soup.find_all('p',class_="genre-links hidden-phone")


for i in genre:
    book_genre.append((i.text).replace('\n',''))
    
df=pd.DataFrame({'book':book_names,'author':book_author,'review':book_reviews,'genre':book_genre})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'bookpage.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,book,author,review,genre
0,Listen,"Gabi Snyder, Stephanie Graegin",,Children's / Children's Picture Book
1,★ Rise to the Sun,Leah Johnson,,YA / YA Fiction
2,Filthy Animals,Brandon Taylor,"In Brandon Taylor’s short story collection, se...",Fiction / Short Stories
3,The Woman They Could Not Silence,Kate Moore,"In the 19th century, a brave, brilliant and co...",Nonfiction / History / Women's History
4,Under a Dancing Star,Laura Wood,,YA / YA Fiction
5,Yoke,Jessamyn Stanley,The 13 autobiographical essays in Yoke are bra...,"Nonfiction / Essays / Body, Mind & Spirit"
6,Leaving Isn’t the Hardest Thing,"Lauren Hough, Cate Blanchett",Author Lauren Hough and actor-producer Cate Bl...,Audio / Nonfiction / Essays
7,The Rose Code,"Kate Quinn, Saskia Maarleveld","The Rose Code is a terrific story, brilliantly...",Audio / Fiction / Historical Fiction
8,The Damage,Caitlin Wahrer,,Mystery & Suspense / Suspense
9,★ Blackout,"Dhonielle Clayton, Tiffany D. Jackson, Nic Sto...",,YA / YA Fiction

In [8]:
# Men ODI Report

In [9]:
# Display 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [10]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi", verify = False)
soup=bs(page.content)

top_ODI=soup.find_all('span',class_="u-hide-phablet")
top_ODIs=[]

for i in top_ODI :
    top_ODIs.append((i.text))   
    
while("" in top_ODIs) :
    top_ODIs.remove("")   

match=soup.find_all('td',class_="table-body__cell u-center-text")

match_a=[]
for i in match:
    match_a.append((i.text))

matches = match_a[0::2]

b=soup.find('td',class_="rankings-block__banner--matches")
x=b.text

matches.insert(0,x)
points = match_a[1::2]

c=soup.find('td',class_="rankings-block__banner--points")
y=c.text

points.insert(0,y)

rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
a=soup.find('td',class_="rankings-block__banner--rating u-text-right")
g=a.text.replace("\n",'').replace(" ",'')

rating_a=[]
for i in rating:
    rating_a.append((i.text))
    
rating_a.insert(0,g)   
df=pd.DataFrame({'Team':top_ODIs,'Match':matches,'Point':points,'Rating':rating_a})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

           Team Match  Point Rating
0   New Zealand    17  2,054    121
1     Australia    25  2,945    118
2         India    29  3,344    115
3       England    27  3,100    115
4  South Africa    20  2,137    107
5      Pakistan    24  2,323     97
6    Bangladesh    27  2,438     90
7   West Indies    27  2,222     82
8     Sri Lanka    24  1,876     78
9   Afghanistan    17  1,054     62

In [11]:
# 10 ODI Batsmen in men along with the records of their team and rating

In [12]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting", verify = False)
soup=bs(page.content)
top_bat=soup.find_all('td',class_="table-body__cell rankings-table__name name")

top_bats=[]
for i in top_bat:
    top_bats.append((i.text).replace("\n", ""))   
    
b=soup.find('div',class_="rankings-block__banner--name-large")
tp=b.text

top_bats.insert(0,tp)
logo=soup.find_all('span',class_="table-body__logo-text")

country1=[]
for i in logo:
    country1.append(i.text)

c=soup.find('div',class_="rankings-block__banner--nationality")
logs=c.text.replace("\n", '')

country1.insert(0,logs)

rate=soup.find_all('td',class_="table-body__cell rating")
rating=[]
for i in rate:
    rating.append(i.text)
    
rate1=soup.find('div',class_="rankings-block__banner--rating")
ratings=rate1.text.replace("\n", "")

rating.insert(0,ratings)

df=pd.DataFrame({'Batsmen':top_bats,'Team':country1,'Rating':rating})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

               Batsmen                     Team Rating
0           Babar Azam  PAK                        865
1          Virat Kohli                      IND    857
2         Rohit Sharma                      IND    825
3          Ross Taylor                       NZ    801
4          Aaron Finch                      AUS    791
5       Jonny Bairstow                      ENG    785
6         Fakhar Zaman                      PAK    778
7  Francois du Plessis                       SA    778
8         David Warner                      AUS    773
9            Shai Hope                       WI    773

In [13]:
# 10 ODI bowlers along with the records of their team and rating.

In [14]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling", verify = False)
top_bowl=soup.find_all('td',class_="table-body__cell rankings-table__name name")

top_bowls=[]
for i in top_bowl:
    top_bowls.append((i.text).replace("\n", ""))

bowl=soup.find('div',class_="rankings-block__banner--name-large")
c=bowl.text.replace("\n", "")

top_bowls.insert(0,c)
logo=soup.find_all('span',class_="table-body__logo-text")

country1=[]
for i in logo:
    country1.append(i.text)
    
log=soup.find('div',class_="rankings-block__banner--nationality")
x=log.text.replace("\n", "").replace(" ", "")

country1.insert(0,x)
rate=soup.find_all('td',class_="table-body__cell rating")

rating=[]
for i in rate:
    rating.append(i.text)

rate1=soup.find('div',class_="rankings-block__banner--rating")
a=rate1.text

rating.insert(0,a)

df=pd.DataFrame({'Bowler':top_bowls,'Team':country1,'Rating':rating})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

                Bowler Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

In [15]:
# Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [16]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi", verify = False)
soup=bs(page.content)

top_ODI=soup.find_all('span',class_="u-hide-phablet")

top_ODIs=[]
for i in top_ODI :
    top_ODIs.append((i.text))
    
while("" in top_ODIs) :
    top_ODIs.remove("")

match=soup.find_all('td',class_="table-body__cell u-center-text")

match_a=[]
for i in match:
    match_a.append((i.text))
    
matches = match_a[0::2]

b=soup.find('td',class_="rankings-block__banner--matches")
x=b.text

matches.insert(0,x)
points = match_a[1::2]

c=soup.find('td',class_="rankings-block__banner--points")
y=c.text

points.insert(0,y)

rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
a=soup.find('td',class_="rankings-block__banner--rating u-text-right")
g=a.text.replace("\n",'').replace(" ",'')

rating_a=[]
for i in rating:
    rating_a.append((i.text))
    
rating_a.insert(0,g)

df=pd.DataFrame({'Team':top_ODIs,'Match':matches,'Point':points,'Rating':rating_a})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

           Team Match  Point Rating
0     Australia    18  2,955    164
1  South Africa    24  2,828    118
2       England    17  1,993    117
3         India    20  2,226    111
4   New Zealand    21  1,947     93
5   West Indies    12  1,025     85
6      Pakistan    15  1,101     73
7    Bangladesh     5    306     61
8     Sri Lanka    11    519     47
9       Ireland     2     25     13

In [17]:
# Top 10 women’s ODI players along with the records of their team and rating.

In [18]:
# Batswoman

In [19]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting", verify = False)
soup=bs(page.content)

top_bat=soup.find_all('td',class_="table-body__cell rankings-table__name name")

top_bats=[]
for i in top_bat:
    top_bats.append((i.text).replace("\n", ""))   
    
b=soup.find('div',class_="rankings-block__banner--name-large")
tp=b.text
top_bats.insert(0,tp)

logo=soup.find_all('span',class_="table-body__logo-text")
country1=[]
for i in logo:
    country1.append(i.text)
    
c=soup.find('div',class_="rankings-block__banner--nationality")
logs=c.text.replace("\n", '')

country1.insert(0,logs)

rate=soup.find_all('td',class_="table-body__cell rating")

rating=[]
for i in rate:
    rating.append(i.text)
    
rate1=soup.find('div',class_="rankings-block__banner--rating")
ratings=rate1.text.replace("\n", "")

rating.insert(0,ratings)

df=pd.DataFrame({'Batswoman':top_bats,'Team':country1,'Rating':rating})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

           Batswoman                     Team Rating
0     Tammy Beaumont  ENG                        765
1        Lizelle Lee                       SA    758
2       Alyssa Healy                      AUS    756
3    Stafanie Taylor                       WI    746
4        Meg Lanning                      AUS    723
5  Amy Satterthwaite                       NZ    715
6    Smriti Mandhana                      IND    710
7        Mithali Raj                      IND    709
8     Natalie Sciver                      ENG    685
9    Laura Wolvaardt                       SA    683

In [20]:
# Bowlers

In [21]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling", verify = False)
soup=bs(page.content)

top_bowl=soup.find_all('td',class_="table-body__cell rankings-table__name name")

top_bowls=[]
for i in top_bowl:
    top_bowls.append((i.text).replace("\n", ""))

bowl=soup.find('div',class_="rankings-block__banner--name-large")
c=bowl.text.replace("\n", "")

top_bowls.insert(0,c)  

logo=soup.find_all('span',class_="table-body__logo-text")

country1=[]
for i in logo:
    country1.append(i.text)
    
log=soup.find('div',class_="rankings-block__banner--nationality")
x=log.text.replace("\n", "").replace(" ", "")

country1.insert(0,x)

rate=soup.find_all('td',class_="table-body__cell rating")

rating=[]
for i in rate:
    rating.append(i.text)
    
rate1=soup.find('div',class_="rankings-block__banner--rating")
a=rate1.text

rating.insert(0,a)

df=pd.DataFrame({'Bowler':top_bowls,'country':country1,'Rating':rating})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

            Bowler country Rating
0    Jess Jonassen     AUS    808
1     Megan Schutt     AUS    762
2   Marizanne Kapp      SA    747
3   Shabnim Ismail      SA    717
4   Jhulan Goswami     IND    681
5  Katherine Brunt     ENG    655
6     Poonam Yadav     IND    641
7   Ayabonga Khaka      SA    638
8     Ellyse Perry     AUS    616
9    Shikha Pandey     IND    610

In [22]:
  # Allrounders

In [23]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder", verify = False)
soup=bs(page.content)

top_play=soup.find_all('td',class_="table-body__cell rankings-table__name name")

top_players=[]
for i in top_play:
    top_players.append((i.text).replace("\n", ""))  
    
b=soup.find('div',class_="rankings-block__banner--name-large")
tp=b.text

top_players.insert(0,tp)

logo=soup.find_all('span',class_="table-body__logo-text")

country1=[]
for i in logo:
    country1.append(i.text)
    
c=soup.find('div',class_="rankings-block__banner--nationality")
logs=c.text.replace("\n", '')
country1.insert(0,logs)

rate=soup.find_all('td',class_="table-body__cell rating")

rating=[]
for i in rate:
    rating.append(i.text)
    
rate1=soup.find('div',class_="rankings-block__banner--rating")
ratings=rate1.text.replace("\n", "")

rating.insert(0,ratings)

df=pd.DataFrame({'All-Rounders':top_players,'Team':country1,'Rating':rating})
df.iloc[0:10,]

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.icc-cricket.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

       All-Rounders                    Team Rating
0    Marizanne Kapp  SA                        418
1      Ellyse Perry                     AUS    418
2   Stafanie Taylor                      WI    410
3    Natalie Sciver                     ENG    349
4     Deepti Sharma                     IND    343
5     Jess Jonassen                     AUS    307
6  Ashleigh Gardner                     AUS    252
7  Dane van Niekerk                      SA    243
8     Sophie Devine                      NZ    242
9       Amelia Kerr                      NZ    236

In [24]:
# Mobile phone details

In [25]:
from urllib.request import urlopen
import re

session = requests.Session()
session.trust_env = False

page=requests.get("https://www.amazon.in/s?k=Mobile+Phones+Under+20000+with+4GB+RAM", verify = False)
soup=bs(page.content)

name=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")

phone=[]
for i in name:
    phone.append((i.text).replace("\n", ""))  
    
pri=soup.find_all('span',class_="a-price-whole")
price=[]
for i in pri:
    price.append((i.text).replace("\n",""))           

pic_url=soup.find_all('img',class_='s-image')

img=[]

for link in pic_url:
    img.append(link.get('src'))
    
rating=soup.find_all('a',class_='a-popover-trigger a-declarative')

rat=[]
for i in rating:
    rat.append((i.text).replace("\n", ""))   
len(phone),len(rat),len(price),len(img)
    
df=pd.DataFrame({'Product Name':phone,'Price':price,'Imag URL':img,'average rating':rat})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.amazon.in'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

Empty DataFrame
Columns: [Product Name, Price, Imag URL, average rating]
Index: []

In [26]:
# Local weather report

In [27]:
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YMstYWgzZEY", verify = False)
soup=bs(page.content)
period=soup.find_all('p',class_="period-name")

pers=[]
for i in period:
    pers.append(i.text)   

des=soup.find_all('p',class_="short-desc")

desc=[]
for i in des:
    desc.append(i.text)
    
tem=soup.find_all('p',class_="temp")

temp=[]
for i in tem:
    temp.append(i.text) 
    
descrip=soup.find_all('div',class_="col-sm-10 forecast-text")

description=[]
for i in descrip:
    description.append(i.text) 
    
del description[9:]

df=pd.DataFrame({"Period":pers,'Short description':desc,"Temperature":temp,'Description':description})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'forecast.weather.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Period,Short description,Temperature,Description
0,Today,BecomingSunny,High: 68 °F,"Partly sunny, then gradually becoming sunny, w..."
1,Tonight,IncreasingClouds andBreezy thenCloudy,Low: 55 °F,"Increasing clouds, with a low around 55. Breez..."
2,Friday,Partly Sunnythen Sunnyand Breezy,High: 68 °F,"Mostly cloudy, then gradually becoming sunny, ..."
3,FridayNight,Partly Cloudyand Breezythen MostlyCloudy,Low: 56 °F,"Increasing clouds, with a low around 56. Breez..."
4,Saturday,Mostly Sunnythen Sunnyand Breezy,High: 71 °F,"Mostly sunny, with a high near 71. Breezy, wit..."
5,SaturdayNight,Mostly Clearand Breezythen MostlyCloudy,Low: 56 °F,"Partly cloudy, with a low around 56. Breezy."
6,Sunday,Mostly Sunny,High: 69 °F,"Mostly sunny, with a high near 69."
7,SundayNight,Mostly Cloudy,Low: 57 °F,"Mostly cloudy, with a low around 57."
8,Monday,Mostly Sunny,High: 70 °F,"Mostly sunny, with a high near 70."

In [ ]:
# scrape fresher job listings from Internshala

In [28]:
page=requests.get("https://internshala.com/fresher-jobs", verify=False)
soup=bs(page.content)

head=soup.find_all('div',class_="heading_4_5 profile")

title=[]
for i in head:
    title.append((i.text).replace("\n", ""))    

comp=soup.find_all('div',class_="heading_6 company_name")
company=[]
for i in comp:
    company.append((i.text).replace("\n", ""))  
    
sal=soup.find_all('div',class_="item_body")

salary=[]

for i in sal:
    salary.append((i.text).replace("\nStarts\xa0", "").replace("\n", "").replace(" ", ""))
salary

del salary[3::3]
salary.pop(0)

app_date=salary[1::2]
sal1=salary[0::2]
    
df=pd.DataFrame({'Job Title':title,'Company':company,'Salary':sal1,'Last apply date':app_date})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'internshala.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Job Title,Company,Salary,Last apply date
0,Software Developer,Aptigenz Solutions Pri...,3-3.2LPA,24Jul'21
1,Management Trainee - Assistant Category Manager,Noise,6-10LPA,24Jul'21
2,Account Executive - Field Sales,RoaDo,3.2-4LPA,24Jul'21
3,Software Engineer,CrewKarma ...,3-5LPA,24Jul'21
4,Associate Software Developer,IQGateway ...,3.6-10LPA,24Jul'21
5,Social Media Strategist And Copywriter,Internshala ...,5-6.8LPA,24Jul'21
6,Level 1 Technical Support Engineer,Mithi Software Technol...,3LPA,23Jul'21
7,Associate Software Developer,White Blink ...,3-3.6LPA,23Jul'21
8,Accounting Assistant,Wono Inc ...,5.4-6.1LPA,23Jul'21
9,Software Engineer,Wono Inc ...,5.5-6.3LPA,23Jul'21
10,Business Development Manager,Wono Inc ...,5.2-5.8LPA,23Jul'21
11,Business Development Executive,Emertxe Information Te...,3LPA,23Jul'21
12,Product Developer - Mathematics,Open Door Education ...,7-8LPA,22Jul'21
13,Sales Development Representative,Content Beta ...,3-4LPA,22Jul'21
14,Full Stack Engineer,Softway Solutions Priv...,5.5-9LPA,22Jul'21
15,Junior ReactJS Developer,DeepThought Edutech Ve...,3-5LPA,22Jul'21
16,Marketing Manager,Saltoro Coffee Roaster...,3.2-3.5LPA,22Jul'21
17,Product Marketing Associate,WebMOBI ...,3LPA,22Jul'21
18,Administration Associate,Global Sun ...,3-3.2LPA,21Jul'21
19,Recruiter,Radish Consultants Pri...,3-5LPA,21Jul'21
20,Associate Software Developer,Medico Healthcare Serv...,3-3.2LPA,21Jul'21
21,Project Coordinator,Edupixels ...,3LPA,21Jul'21
22,Web Developer,Manufac Analytics Priv...,3-4LPA,19Jul'21
23,Software Engineer Trainee,Swabhav Techlabs ...,3-3.5LPA,19Jul'21
24,Business Development Specialist (Sales & Marke...,Claraeon Learning Priv...,3LPA,23Jul'21
25,Business Development Executive,Picostone ...,3-6.5LPA,19Jul'21
26,Associate Front End Developer,AIMonk Labs Technology...,6-7LPA,18Jul'21
27,Corporate Sales Executive,369 Zoss Waters ...,3-5LPA,18Jul'21
28,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC ...,4LPA,18Jul'21
29,Customer Relationship Specialist,InPhase Power Technolo...,3-3.5LPA,18Jul'21
30,Associate Editor Engagement,Cactus Communications ...,3-4LPA,18Jul'21
31,Management Consultant Associate,StrategyCo.Global ...,4.5-7LPA,18Jul'21
32,Web Analytics Developer,DataVinci Private Limi...,4.99-5LPA,17Jul'21
33,Junior Social Media Marketing Manager,The Test Tribe ...,3-4LPA,17Jul'21
34,Junior Social Media Marketing Associate,Glu Studios ...,3-3.6LPA,17Jul'21
35,Business Development Manager (Digital Marketin...,Graygraph Technologies...,3-4.5LPA,17Jul'21
36,Business Development Executive,BookLeaf Publishing ...,3-3.6LPA,17Jul'21
37,Accountant,Ravi Ladia & Co ...,3LPA,16Jul'21
38,Research Associate,Market Vistas Consumer...,3-3.25LPA,17Jul'21
39,Assistant Coordinator - Tender Department,Global Source Trading ...,3LPA,16Jul'21

In [ ]:
# Scrape house details from Nobroker

In [29]:
page=requests.get("https://www.nobroker.in/flats-for-sale-in-bangalore_bangalore", verify = False)
soup=bs(page.content)

des=soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")
desc=[]
for i in des:
    desc.append((i.text).replace("\n", ""))
    
loc=soup.find_all('div',class_="nb__2CMjv")    
loca=[]
for i in loc:
    loca.append((i.text).replace("\n", ""))
    
em=soup.find_all('div',class_="font-semi-bold heading-6")

emi=[]
for i in em:
    emi.append((i.text).replace("\n", ""))               

list1=emi[0::3]
list2=emi[1::3]
list3=emi[2::3]

df=pd.DataFrame({'Title':desc,'Location':loca,'Area':list1,'EMI':list2,'Price':list3})
df

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.nobroker.in'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Title,Location,Area,EMI,Price
0,3 BHK Flat For Sale In Nagdevanahalli,"Standalone Building, Near Indian High School, ...","2,000 sqft","₹63,045/Month",₹1.1 Crores
1,"3 BHK Apartment For Sale In Smondoville, Ele...","Smondoville, Electronic City Neotown Rd, Goll...","1,350 sqft","₹29,803/Month",₹52 Lacs
2,2 BHK Apartment For Sale In Gm Infinite E-ci...,Gm Infinite E-City Town GM Infinite ECity tow...,"1,070 sqft","₹33,242/Month",₹58 Lacs
3,2 BHK In Independent House For Sale In Giri ...,"Independent House, 3rd cross, near radhakrishn...","6,000 sqft",₹2.01 Lacs/Month,₹3.5 Crores
4,3 BHK Flat For Sale In Gokulam Apartment In ...,"AECS Layout - A Block, AECS Layout","1,400 sqft","₹45,278/Month",₹79 Lacs
5,1 BHK In Independent House For Sale In Munne...,"Independent House, Munnekolala bus stand and S...",700 sqft,"₹85,971/Month",₹1.5 Crores
6,2 BHK Flat For Sale In Geetha Residency In M...,BEML Layout 7th Stage Near Sri Banashankari Re...,"1,135 sqft","₹32,669/Month",₹57 Lacs
7,3 BHK In Independent House For Sale In Ullal...,"Independent House, Behind Jayanth convention c...","2,420 sqft","₹65,911/Month",₹1.15 Crores
8,2 BHK Flat For Sale In Panchavati Bda Apartm...,Royal park country,830 sqft,"₹19,200/Month",₹33.5 Lacs
9,3 BHK Apartment For Sale In Provident Sunwor...,"Provident Sunworth Nice - Mysore Road, Venkat...","1,082 sqft","₹25,504/Month",₹44.5 Lacs